  <div class="jumbotron center">
    <h1>Welcome to OurVeganRecipes App</h1>

    <h2>You've reached the homepage for OurVeganRecipes App</h2>

        <%= link_to "Sign up now!", "", class: "btn btn-lg btn-success col-md-4", id: "sign-up" %>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2 class="midrow">View Recipes as Guest User</h2>
      <h3 class="left">Browse and view recipes as a guest and sign up later</h3>
      <p><%= link_to "Browse vegan recipes", "", class: "btn btn-warning btn-small" %></p>
    </div>
    <div class="col-md-4">
      <h2 class="midrow">Sign up now</h2>
      <h3 class="middle">Sign up for OurVeganRecipes and access all our content now</h3>
      <p><%= link_to "Sign up now", "", class: "btn btn-warning btn-small" %></p>
    </div>
    <div class="col-md-4">
      <h2 class="midrow">More about Veganism</h2>
      <h3 class="right">Get information about veganism! Everything from reasons why to starter packs</h3>
      <p><%= link_to "Browse vegan recipes", "", class: "btn btn-warning btn-small" %></p>
    </div>

  </div>
